.cb-container {
    display: flex;
}

.cb-circle {
    width: 16px;
    height: 16px;
    border: solid 1px #616161;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

:not([disabled]).cb-circle:hover {
    border-color: #3d3d3d;
}

.cb-circle-checked {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #616161;
    position: relative;
}

:not([disabled]).cb-circle-checked:hover {
    background-color: #3d3d3d;
}

.cb-tick {
    width: 9px;
    height: 5px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 2px 2px;
    rotate: -45deg;
    position: absolute;
    top: 4px;
    left: 3px;
}