.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35vw;
    background-color: #F7EEDD;
    box-shadow: -2px 0 8px rgba(0,0,0,0.4);
    padding: 10px;
}

.sb-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sb-item {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #666666;
    font-family: "Cabin", sans-serif;
    width: 100%; /* mặc định div có width 100% còn các thẻ inline thì mặc định width là fit-content*/
    border: none;
}

input.sb-item {
    outline-style: dashed;
    outline-width: 1px;
    padding-right: 35px;
}

input.sb-item:focus {
    outline-color: cornflowerblue;
    outline-width: 2px;
}

input.sb-item:invalid[firstFocused="true"] {
    outline-color: red;
}

textarea.sb-item {
    outline-style: dashed;
    outline-width: 1px;
    color: #454545;
    font-size: 16px;
}

textarea.sb-item:focus {
    outline-color: cornflowerblue;
    outline-width: 1px;
}

.sb-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    margin-top: auto;
}

.sb-button {
    width: 45%;
    height: 40px;
    max-width: 123px;
    border: none;
    background-color: cornflowerblue;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.sb-button:hover {
    opacity: 0.9;
}

.sb-category-select {
    border: none;
    padding: 0 6px;
    outline: none;
    border-radius: 3px;
}

.sb-icon-btn {
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
    padding: 4px;
}

.sb-icon-btn:hover {
    opacity: 0.85;
}

.sb-error-text {
    padding: 3px;
    color: red;
    font-size: 12px;
    display: none;
}

input:invalid[firstFocused="true"] ~ .sb-error-text {
    display: block;
}
