* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

body {
    background-color: #92C7CF;
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 14px;
}

#root {
    min-height: 100vh;
}